/*	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	
 * 					Landing Page
 =	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	*/

.container {
	margin: 0 auto;
	width: 1000px;
}

#first {
	margin: 0 0 20px 0;
	text-align: center
}

#second {
	margin: 0 0 40px 0;
}

#second h2 {
	text-align: left;
}

/* these are backwards */
.left {
	width: 450px;
	text-align: left;
	float: right;
	margin: 0 40px 0 0;
}

.right {
	width: 450px;
	text-align: left;
}

#third {
	margin: 0 0 70px 0;
}

#third h2{
	text-align: left;
}

#form {
	float: left;
	width: 600px;
}

#user_first, #user_email ,#user_pass {
	float: left;
	margin: 0 20px 0 0;
}

#landing_reg {
	margin: 20px 0 0 400px;
}

#benifits {
	margin: 50px 0 0 0;
}

footer {
	clear: left;
}











