/*green color: #52a672;

red color: #a65252;*/


/*	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	
 * 					Landing Page
 =	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	*/

.container {
	margin: 0 auto;
	width: 1000px;
}

#first {
	margin: 0 0 20px 0;
	text-align: center
}

#second {
	margin: 0 0 40px 0;
}

#second h2 {
	text-align: left;
}

/* these are backwards */
.left {
	width: 450px;
	text-align: left;
	float: right;
	margin: 0 40px 0 0;
}

.right {
	width: 450px;
	text-align: left;
}

#third {
	margin: 0 0 70px 0;
}

#third h2{
	text-align: left;
}

#form {
	float: left;
	width: 650px;
}

#firstName, #email, #password {
	float: left;
	margin: 0 20px 0 0;
}

#regSub {
	margin: 20px 0 0 390px;
}

#benifits {
	margin: 50px 0 0 0;
}

footer {
	clear: left;
}



/*	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	
 * 					Register/Login
 =	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	*/

.outer {
	text-align: center;
}

#reg_form, #login_form {
	margin: 0 auto;
	width: 600px;
}


/*	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	
 * 					User_home
 =	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	*/

#userLeft {
	width: 400px;
	float: left;
}


/*	=	=	=	Spending	=	=	=	*/

#spending {
	height: 500px;
	margin: 0 0 0 5px;
}

.em {
	font-size: 16px;
	font-weight: bold;
	float: left;
	margin: 0 15px 0 0;
}

.green {
	color: #52a672;
	font-size: 16px;
	margin: 5px 0 5px 0;
}

.red {
	color: #a65252;
	font-size: 16px;
	margin: 5px 0 5px 0;
}

#top3 {
	margin: 5px 0 0 25px;
}

.tinyem {
	font-weight: bold;
	float: left;
	margin: 0 10px 0 0;
}

.tinyred {
	color: #A65252;
	margin: 0 5px 0 5px;
}

#totalBar {
	width: 250px;
	margin: 3px 0 0 0;
	border: 1px solid #000;
}

#total {
	margin: 5px 0 0 0;
}

.blue {
	color: #7B72E9;
	font-size: 16px;
}


/*	=	=	=	Transactions	=	=	=	*/

#transactions {
	margin: 0 5px 0 0;
	height: 500px;
}

/*.odd {
	background: #eaeaea;
	padding: 5px 10px 5px 10px;
	width: 200px;
}*/

.note {
	font-weight: bold;
	float: left;
	width: 100px;
}

.category {
	float: left;
	width: 100px;
	margin: 0 0 0 5px;
}

/*	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	
 * 					Add expense/income/Categories
 =	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	*/

#add_expense, #add_income {
	margin: 10px 0 0 30px;
}

#expReset, #incReset {
	margin: 0 0 0 100px;
}

/*	=	=	=	=	Add/Edit Category	=	=	=	=	*/

#addCategory, #editCategory {
	margin: 0 0 0 5px;
}

#cat_name label, #cat_type label,{
	font-size: 16px;
	font-weight: bold;
	width: 130px;
}

#cat_name, #category_type {
	width: 150px;
	height: 15px;
	margin: 0 10px 0 0;
}

#catSub {
	margin: 2px 0 0 120px;
}

.categories {
	margin: 0 0 0 5px;
}

th {
	text-align: left;
	font-size: 16px;
}

td {
	width: 150px;
}


